<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bargiyora">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RequestActivity"></activity>
        <activity android:name=".RideActivity" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".DeliveryAndSaleBoardActivity" />
        <activity android:name=".SiteListActivity" />
        <activity android:name=".AroundUsCategoryActivity" />
        <activity android:name=".BusinessesListActivity" />
        <activity android:name=".BusinessCategoryActivity" />
        <activity android:name=".ResidentServiceActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".NewRequestActivity"
            android:label="@string/newRequest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>